@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
 background: linear-gradient(138deg, rgba(92, 79, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 23.51%, rgba(92, 79, 255, 0.10) 51.72%, rgba(255, 255, 255, 0.10) 89.93%, rgba(92, 79, 255, 0.10) 117.55%);
  color: var(--foreground);
}

